DATABASE_URL="postgresql://postgres:postgres@localhost:5432/restaurant_intelligence?schema=public"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
AUTH_SESSION_SECRET="replace-with-at-least-32-random-characters"
OPENAI_API_KEY=""
